@import url("css/main.css");

body {
  background-color: var(--light-beige);
  font-family: "Inter", sans-serif;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  margin: 10px;
}

.assignment-content {
  max-width: 800px;
  width: 100%;
  margin: 70px auto;
  padding-bottom: 50px;
}

.assignment-content h1 {
  padding: 20px 0px;
}

.heading {
  text-align: center;
  margin-bottom: 30px;
}

.grids-section {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  justify-content: center;
  align-items: center;
  grid-template-rows: auto auto;
}

img {
  height: inherit;
  width: inherit;
}

.img-circle {
  margin-right: 20px;
  width: 53px;
  height: 55px;
  border-radius: 50%;
}

.img-circle img {
  border-radius: inherit;
}

@media only screen and (max-width: 800px) {
  .grids-section {
    display: grid;
    grid-template-columns: auto;
  }
}
