* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

:root {
  --white: #fff;
  --grey: #808080;
  --primary-color: #8f00ff;
  --secondary-color: #6798c0;
  --light-purple: #c77dff;
  --light-purple-op50: #c77dff73;
  --purpole-op50: #ebe0f388;
  --light-beige: #f8edeb;
  --grey-op50: #dad6d642;
  --dark-grey: #5e5b5b;
  --black-grey: #333333;
  --error-red: #e9575b;
  --red: #ff0000;
  --red-op50: #e9575c23;
  --white-op50: #bdb8b818;
  --chip-grey: #d3d3d3;
  --chip-orange: #ffa69e;
  --chip-green: #caffbf;
  --chip-blue: #bde0fe;
  --chip-pink: #f2b5d4;
}

img {
  height: inherit;
  width: inherit;
}

body {
  background-color: var(--light-beige);
  font-family: "Inter", sans-serif;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  margin: 10px;
}

.assignment-content {
  max-width: 800px;
  width: 100%;
  margin: 70px auto;
  padding-bottom: 50px;
}

.heading {
  text-align: center;
  margin-bottom: 30px;
}

.assignment-content h1 {
  padding: 20px 0px;
}

/* BUTTON STYLES */

.btn {
  background-color: transparent;
  border: none;
  padding: 10px;
  border-radius: 7px;
  font-size: 18px;
  margin: 20px;
  color: var(--white);
}

.primary-btn {
  background-color: var(--primary-color);
}

.secondary-btn {
  background-color: var(--secondary-color);
}

.action-btn {
  color: var(--light-purple);
  font-weight: 600;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px;
}

.action-btn:hover {
  background-color: var(--purpole-op50);
}

.primary-icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

.primary-icon-btn:hover {
  background-color: var(--grey-op50);
}

.primary-icon-btn i {
  font-size: 17px;
  color: var(--dark-grey);
}

.alert-btn {
  color: var(--error-red);
  background-color: transparent;
  padding: 7px;
  border: none;
  font-weight: 600;
  height: 40px;
  font-size: 16px;
  border-radius: 3px;
}

.alert-btn:hover {
  background-color: var(--red-op50);
  cursor: pointer;
}

.secondary-icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.secondary-icon-btn:hover {
  background-color: var(--white-op50);
}

.secondary-icon-btn i {
  font-size: 17px;
  color: var(--white);
}

/* BADGE STYLES */

.badge-content {
  display: flex;
}

.badge-txt {
  position: relative;
  padding: 15px;
  width: fit-content;
  font-size: 20px;
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-radius: 50%;
  color: var(--white);
  font-family: "Inter", sans-serif;
  background-color: var(--red);
  width: 23px;
  height: 23px;
  position: absolute;
}

.icon-badge {
  position: relative;
  padding: 17px;
  font-size: 20px;
}

.badge-btn {
  width: fit-content;
  height: auto;
  margin: 0px;
  position: relative;
}

.badge.pos-topright {
  top: 0px;
  right: 0px;
}
.badge.overlap-topright {
  top: 7px;
  right: 7px;
}

.badge.overlap-topleft {
  top: 7px;
  left: 7px;
}

/* CARDS STYLE */

.grids-section {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  justify-content: center;
  align-items: center;
  grid-template-rows: auto auto;
}

.card-container {
  background-color: var(--white);
  max-width: 340px;
  width: 100%;
  border-radius: 7px;
  margin: 10px;
}

.card-container.style-1 {
  display: grid;
  grid-template-rows: 140px auto;
}

.card-container.style-1 .card-img {
  border-radius: 7px 0px;
}

.card-container.style-2 {
  display: grid;
  grid-template-rows: 200px 150px;
}

.card-container.style-2 .card-img,
.card-container.style-4 .card-img {
  border-radius: 7px 7px 0px 0px;
}

.card-container.style-3 {
  display: grid;
  grid-template-rows: auto auto;
  border-radius: 15px 7px;
}

.card-container.style-4 {
  display: grid;
  grid-template-rows: auto auto auto;
}

.card-header-container {
  display: grid;
  grid-template-columns: 160px 1fr;
}

.card-img {
  height: 100%;
  width: 100%;
}

.card-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 15px;
  margin-top: 25px;
}

.card-title {
  font-weight: 500;
  font-size: 23px;
  margin-bottom: 7px;
}

.card-caption {
  font-weight: 500;
  color: var(--grey);
}

.card-desc {
  margin-top: 15px;
  margin-bottom: 5px;
  color: var(--grey);
}

.card-footer {
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 5px;
}
.card-icon-container {
  display: flex;
  justify-content: flex-end;
}

/* CHIPS STYLE */

.chips-content {
  display: flex;
  flex-wrap: wrap;
}
.chips {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--chip-grey);
  width: fit-content;
  padding: 7px 10px;
  border-radius: 17px;
  margin: 5px;
}

.chips.orange-chip {
  background-color: var(--chip-orange);
}

.chips.green-chip {
  background-color: var(--chip-green);
}
.chips.blue-chip {
  background-color: var(--chip-blue);
}
.chips.pink-chip {
  background-color: var(--chip-pink);
}

.chips p {
  font-weight: 500;
}

.pre-icon-chip {
  padding-right: 5px;
}

.chips .close-chip-icon {
  margin-left: 10px;
  color: var(--grey);
  font-size: 18px;
}

.chips .close-chip-icon:hover {
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
}

/* DIALOGS STYLE */

.dialog-container {
  display: grid;
  width: 270px;
  background-color: var(--white);
  border-radius: 7px;
  padding: 5px;
}

.dialog-container.alert-style {
  grid-template-rows: 50px minmax(70px, auto) 44px;
}

.dialog-container.simple-style {
  grid-template-rows: 50px minmax(150px, auto);
}

.dialog-header {
  margin-left: 22px;
  margin-top: 25px;
}

.dialog-header p {
  font-size: 22px;
}

.alert-style .dialog-body {
  margin-left: 22px;
  margin-top: 20px;
  color: var(--grey);
}

.simple-style .dialog-body {
  display: grid;
  grid-row-gap: 15px;
  margin: 25px 0px 30px 0px;
}

.img-circle {
  margin-right: 20px;
  width: 53px;
  height: 55px;
  border-radius: 50%;
}

.img-circle img {
  border-radius: inherit;
}

.dialog-item img {
  width: 100%;
  height: 100%;
}

.dialog-item {
  display: flex;
  align-items: center;
  margin: 0px 5px;
  padding: 7px 10px 7px 15px;
  border-radius: 5px;
}

.dialog-item:hover {
  background-color: var(--grey-op50);
  cursor: pointer;
}

.dialog-footer {
  display: flex;
  justify-content: flex-end;
}

.dialog-footer button {
  height: fit-content;
  padding: 10px;
  margin: 0px 5px;
}

/* DRAWER STYLE */

.drawer-container {
  display: grid;
  grid-template-rows: repeat(2, minmax(70px, auto));
  background: white;
  width: 300px;
  padding: 10px;
}

.drawer-header {
  margin-top: 10px;
  margin-left: 10px;
}
.drawer-title {
  font-size: 22px;
  font-weight: 600;
}
.drawer-caption {
  color: var(--grey);
  margin-top: 3px;
}
.drawer-body {
  margin-top: 10px;
  display: grid;

  grid-row-gap: 10px;
}

.drawer-item {
  display: flex;
  align-items: center;
  padding: 13px 10px;
  border-radius: 7px;
  max-width: 100%;
}
.drawer-item.nested {
  margin-left: 60px;
}
.drawer-item p {
  white-space: normal;
  font-size: 17px;
  font-weight: 600;
}
.drawer-item i {
  margin-right: 30px;
  font-size: 19px;
  color: var(--dark-grey);
}
.drawer-item:hover {
  background-color: var(--grey-op50);
  cursor: pointer;
}
.drawer-item.focused {
  background-color: var(--light-purple-op50);
}

.drawer-subheading {
  color: var(--grey);
  margin-left: 7px;
}

.drawer-divider {
  height: 1px;
  background-color: var(--grey);
  width: 100%;
  max-width: 300px;
}

/* TABS STYLES */
.tabs-container {
  display: grid;
  grid-auto-flow: column;
  width: 400px;
  margin-bottom: 30px;
}
.tab {
  padding: 10px 0px;
  font-size: 19px;
  text-align: center;
  border-bottom: 3px solid var(--chip-grey);
}
.tab.focused {
  border-bottom: 3px solid var(--light-purple);
}
.tab:hover {
  background-color: var(--light-purple-op50);
  cursor: pointer;
}
.style2 .tab i {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.style2 i {
  padding-bottom: 10px;
}

/* HEADER STYLE */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  padding: 10px;
  border-radius: 5px;
  background-color: var(--black-grey);
  color: var(--white);
}

.header-end {
  display: flex;
  align-items: center;
  gap: 3px;
}
.lg-icon-btn i {
  font-size: 22px;
}

.header-start {
  display: flex;
  gap: 15px;
  align-items: center;
}
.header-title {
  font-weight: 600;
  font-size: 17px;
}

/* SNACKBAR STYLES */
.snackbar {
  background-color: var(--black-grey);
  display: flex;
  color: var(--white);
  justify-content: center;
  align-items: center;
  gap: 3px;
  width: fit-content;
  padding: 8px 15px;
  border-radius: 5px;
}
.snackbar p {
  margin-right: 10px;
}

@media only screen and (max-width: 800px) {
  .grids-section {
    display: grid;
    grid-template-columns: auto;
  }
}
